%br
%div
  = link_to "Dashboard" , dashboard_challenges_path
%br
%br
%div   
  = form_tag("/short_url", method: "post" , :remote => true ) do
    = text_field_tag(:search, "" , {:placeholder=>"SHORTEN.."})
    = submit_tag("SHORTEN")

  %br
  %br 
  #shrturl


:css
  input[type=text] {
      width: 200px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('searchicon.png');
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
      width: 30%;
  }




