%br
%div
  = link_to "Dashboard" , dashboard_challenges_path
%br
%br
%div   
  = form_tag("/short_url", method: "post" , :remote => true ) do
    = text_field_tag(:search, "" , {:placeholder=>"SHORTEN.."})
    = submit_tag("SHORTEN")

  %br
  %br 
  #shrturl

