!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shorten URL
    = csrf_meta_tags
    = stylesheet_link_tag    'application' , 'bootstrap.min'
    = javascript_include_tag 'application'
  %body.main
    = yield
